html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    display: flex;
}

div {
    margin: 1rem;
}

.show-name {
    font-size: 2rem;
}

.show-type {
    font-size: 1rem;
}

.show-image {
    display: block;
    margin-bottom: 1rem;
}